body{
    font-family: 'Inter', sans-serif;
}
main {
    text-align: center;
}

.title{
    font-size: 49px ;
    font-weight: 400;
    margin: 40px;
}
.title h1 únicos{
color: purple;
}

footer{
    text-align: center;
    margin: 110px;
}
.texto{
    color: #7D7987;
    margin: 10px;
}
.title strong{
    color: #6C63FF;
}
#texto1{
    margin: 40px;
}
#footer1{
    margin: 35px;
    color: #6C63FF;
}
footer a{
    color: #6C63FF;
}

#primeiro{
    color: #6C63FF;
}
#segundo {
    color: #6C63FF;
}
